{% set grid_size = theme_var('grid-size') %}
{% set newsletter_image = theme_var('newsletter_image') %}
{% set columns = page.header.class == 'small' ? 'col-4 col-md-4 col-sm-6' : 'col-4 col-md-6 col-sm-12'  %}
<section class="section modular-newsletter {{ page.header.class }}">
        <section class="container {{ grid_size }}">
            <div class="frame-box grid-lg">
                <div class="columns">
                    <div class="column col-6 col-md-12">
                        <h3><i class="fa fa-fw fa-heart-o"></i> Volg ons</h3>
                        <p>Op onze social kanalen</p>
                        
                        {% for channel in page.header.socialmedia %}
                          {% if channel.url %}<a href="{{channel.url}}">{% endif %}
                          <div class="social-media-icon" data-aos="zoom-in">
                             <i class="fa fa-fw {{ channel.icon }}"></i>
                          </div>
                          {% if channel.url %}</a>{% endif %}
                        {% endfor %}
                    </div>
                    <div class="column col-6 col-md-12">
                        <h3><i class="fa fa-fw fa-envelope-o"></i> Blijf op de hoogte</h3>
                        {{ page.content | raw }}
                        <form action="https://scouting-ijsselgroep.us14.list-manage.com/subscribe/post?u=9f04e7aa4b9a8142a85f9041b&amp;id=15e0b51a34" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                        	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-mailadres" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9f04e7aa4b9a8142a85f9041b_15e0b51a34" tabindex="-1" value=""></div>
                            <input type="submit" value="Meld je aan" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary pull-right">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
</section>